.header-logo-s {
    color: #2E2F42;
font-family: "Raleway", sans-serif;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 1.17; /* 116.667% */
letter-spacing: 0.54px;
text-transform: uppercase;
text-decoration: none;
}

.header-logo-w {
    color: #4d5ae5;
font-family: "Raleway", sans-serif;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 1.17; /* 116.667% */
letter-spacing: 0.54px;
text-transform: uppercase;
text-decoration: none;
}

.main-link {
    color:#2e2f42;
}

.main-link:hover {
    color :#404bbf;
}

.main-link:focus {
    color :#404bbf;
}

.main-cont {
    color:#434455;
}

.main-cont:hover {
    color :#404bbf;
}

.main-cont:focus {
    color :#404bbf;
}

.main-cont {
    color:#434455;
}

.main-cont:hover {
    color :#404bbf;
}

.main-cont:focus {
    color :#404bbf;
}

.header-list {
    color:#2E2F42;
font-family: "Roboto", sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 1.5; /* 150% */
letter-spacing: 0.32px;
text-decoration: none;
}

.header-address {
color:#434455;
font-family: "Roboto", sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 1.5; /* 150% */
letter-spacing: 0.32px;
text-transform: lowercase;
text-decoration: none;
}

a {
   text-decoration: none; 
}

body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

li {
    list-style-type: none;
}

.main-title{
    background-color: #2E2F42;
}

.title {
    color:#FFF;
    text-align: center;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.07; /* 107.143% */
    letter-spacing: 1.12px;
}

.button {
    font-family: "Roboto", sans-serif;
    align-items: flex-start;
    gap: 10px;
    border-radius: 4px;
    background: #4D5AE5;
    color: var(--WHITE, #FFF);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5; /* 150% */
    letter-spacing: 0.64px;
    cursor: pointer;
}

.button:hover {
    background-color: #404BBF;
}

.button:focus {
    background-color: #404BBF;
}

.section-list {
    background-color: #FFF;
}

.section-title {
    color:#434455;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5; /* 120% */
    letter-spacing: 0.4px;

}

.section-text {
    font-size: 16px;
    line-height: 1,5; /* 150% */
    letter-spacing: 0.32px;
}

.section-team{
    background-color: #F4F4FD;
}

.team-title {
    color:#2e2f42;
    text-align: center;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.5; /* 111.111% */
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

.team-list {
    background-color: #FFFFFF
}

.team-part {
    border-radius: 0px 0px 4px 4px;
    background-color:#F4F4FD;
}

.team-name {
    color: #2e2f42;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 1.2; /* 120% */
letter-spacing: 0.4px;
}

.team-position {
    color: #434455;
    font-size: 16px;
    line-height: 1.5; /* 150% */
    letter-spacing: 0.32px;
}

.section-portfolio {
    background-color: #FFF;
}

.portfolio-link {
    border: 1px solid var(--CORNFLOWER, #E7E9FC);
background-color:#FFF;
}

.portfolio-section {
    font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 1.2; /* 120% */
letter-spacing: 0.4px;
}

.portfolio-subsection {
    color: #434455;
font-size: 16px;
line-height: 1.5; /* 150% */
letter-spacing: 0.32px;
}

.footer {
    background-color: #2E2F42;
}

.footer-text {
    color: #F4F4FD;
    font-size: 16px;
    line-height: 1.5; /* 150% */
    letter-spacing: 0.32px;
    
}

.footer-logo-s {
    color: f4f4fd;
font-family: "Raleway", sans-serif;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 1.17; /* 116.667% */
letter-spacing: 0.54px;
text-transform: uppercase;
text-decoration: none;
}

.footer-logo-w {
    color: #4D5AE5;
font-family: "Raleway", sans-serif;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 1.17; /* 116.667% */
letter-spacing: 0.54px;
text-transform: uppercase;
text-decoration: none;
}

